@import url('uikit-3.15.22/css/uikit.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-link
{
    @apply uppercase block h-full text-white hover:text-secondary text-lg
}

.nav-link-active
{
    @apply uppercase block h-full text-secondary hover:text-secondary text-lg
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent url("data:image/svg+xml;utf8,<svg fill='black' height='30' viewBox='0 0 24 24' width='30' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat;
    background-position-x: 98%;
    background-position-y: 12px;
    border-radius: 2px;
    margin-right: 6rem;
    padding-right: 4rem;
}
.bg-btn
{
    background: transparent linear-gradient(270deg, #fda007 0%, #fd7607 100%) 0% 0% no-repeat padding-box;
}
.bg-btn-secondary
{
    background: transparent linear-gradient(270deg, #3a3b74 0%, #1c1d4d 100%) 0% 0% no-repeat padding-box;
}
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    flex: 1 0 auto;
    max-width: calc(33.333% - 2px);
    margin: 1px;
}

.gallery-item:nth-of-type(3n+1) {
    margin-left: 0;
}

.gallery-item:nth-of-type(3n) {
    margin-right: 0;
}

@media (max-width: 767px) {
    .gallery-item {
        max-width: calc(50% - 2px);
    }

    .gallery-item:nth-of-type(2n+1) {
        margin-left: 0;
    }

    .gallery-item:nth-of-type(2n) {
        margin-right: 0;
    }
}
