@import url('uikit-3.15.22/css/uikit.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-link
{
    @apply uppercase block h-full text-white hover:text-secondary text-lg
}
.bg-btn
{
    background: transparent linear-gradient(270deg, #fda007 0%, #fd7607 100%) 0% 0% no-repeat padding-box;
}
.bg-btn-secondary
{
    background: transparent linear-gradient(270deg, #3a3b74 0%, #1c1d4d 100%) 0% 0% no-repeat padding-box;
}
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    flex: 1 0 auto;
    max-width: calc(33.333% - 2px);
    margin: 1px;
}

.gallery-item:nth-of-type(3n+1) {
    margin-left: 0;
}

.gallery-item:nth-of-type(3n) {
    margin-right: 0;
}

@media (max-width: 767px) {
    .gallery-item {
        max-width: calc(50% - 2px);
    }

    .gallery-item:nth-of-type(2n+1) {
        margin-left: 0;
    }

    .gallery-item:nth-of-type(2n) {
        margin-right: 0;
    }
}
